@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Staatliches&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.spot-main-banner {
  height: 30vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}

.spot-name {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 10px;
  margin: 0;
  font-size: 25px;
  font-family: "Staatliches", cursive;
  letter-spacing: 1px;
}

.spot-address {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  font-size: 10px;
}

.spot-dropin {
  position: absolute;
  bottom: 0px;
  right: 46px;
  bottom: 10px;
  text-align: center;
}

.btn-dropin {
  font-size: 10px;
}

.spot-info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row !important;
  padding: 5px;
  background: rgb(41, 41, 41);
}

.info-icon-container {
  display: flex;
  flex-direction: row;
}

.spot-info-icon {
  width: 40px;
  height: 30px;
  margin: 0;
  margin-right: 5px;
  font-size: 14px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spot-description-container {
  padding: 15px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.spot-description-header {
  font-family: "Staatliches", cursive;
  font-size: 20px;
  color: #303c44;
}

.spot-description-body {
  font-size: 13px;
  margin: 0;
  padding: 5px;
  color: #3c3c3c;
}

.tag-card {
  height: 100px;
  margin: 10px;
  background-color: #262626;
  border-radius: 12px;
}

.tag-card-head {
  height: 25%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Staatliches", cursive;

  p {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
  }
}

.tag-btn {

  bottom: 0px;
  right: -4px;
  font-size: 10px;
  background-color: #239e33;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.tag-btn-dropin {
  position: absolute;
  right: 10px;
  bottom: 0px;
  font-size: 12px;
}

.fa-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  text-decoration: none;
  font-size: 25px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.favorite-count {
  position: absolute;
  top: 10px;
  right: 45px;
  color: white;
  font-family: "Staatliches", cursive;
  font-size: 13px;
}

.modal-header {
  background-color: #43545f;
}

.close {
  color: white;
}

.create-tag-btn {
  position: relative;
  left: -4%;
}

.modal-message {
  color: #313131;
}

.navigate-spot {
  color: #303c44;
}

.tag-caption,
.tag-username {
  color: #303c44;
}
.tag-username {
  font-size: 13px !important;
}

.tag-card {
  margin-bottom: -10px;
}

.youtube-card:last-of-type {
  margin-bottom: 2rem !important;
}

#tag-header {
  color: white;
  margin-bottom: 0;
  font-family: "Staatliches", cursive;
}

.tag-label {
  color: #262626;
}
