<footer class="navbar fixed-bottom navbar-light bg-light">


  <div class="geocoder" id="geocoder" style="width: 60%;"></div>


  <div class="btn-group dropup">
  <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <div class="footer-menu">
      <a class="dropdown-item" href="#">menu 1</a>
      <a class="dropdown-item" href="#">menu 2</a>
      <a class="dropdown-item" href="#">menu 3</a>
    </div>
  </div>
</div>
</footer>