<footer class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="#">Map search here</a>
  <div class="btn-group dropup">
  <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <div class="footer-menu">
      <a class="dropdown-item" href="/feed">Feed</a>
      <a class="dropdown-item" href="#">New Tag</a>
      <a class="dropdown-item" href="/spots/new">New Spot</a>
    </div>
  </div>
</div>
</footer>