<footer class="navbar fixed-bottom navbar-light">


  <div class="geocoder" id="geocoder" style="width: 60%;"></div>


  <div class="btn-group dropup">
  <button type="button" class="btn-normal btn-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <div class="footer-menu">
      <a class="dropdown-item" href="/"><i class="fas fa-map-marked-alt"></i> Spot Map</a>
      <a class="dropdown-item" href="/feed"><i class="fas fa-bars"></i> Feed</a>
      <a class="dropdown-item" href="/spots/new"><i class="fas fa-plus"></i> New Spot</a>
    </div>
  </div>
</div>
</footer>