p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.profile-seperator {
  font-family: "Staatliches", cursive;
  font-size: 20px;
  color: rgb(56, 56, 56);
}

.skater-username {
  font-family: "Staatliches", cursive;
  font-size: 30px;
  margin: 0;
  margin-left: 10px;
}

.skater-favorites {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  margin-left: 10px;
  p {
    display: inline;
    font-size: 12px;
    margin: 0;
  }
  p:nth-of-type(2) {
    margin-left: 15px;
  }
}

.avatar-profile {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid rgb(0, 24, 29);
}
.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.favorite-spot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(54, 54, 54);
  margin-top: 5px;
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #44556021;

  p {
    margin: 0;
    margin-right: 10px;
    text-transform: uppercase;
    color: #383838 !important;
  }
}

.favorite-spot-thumb {
  height: 100%;
  border-right: 2px solid rgb(54, 54, 54);
  width: 5rem;
}

.follow-btn {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  font-size: 10px;
  position: absolute;
  left: 13rem;
  bottom: 0.7rem;
  padding: 5px;
}

.follow-btn:hover {
  color: black;
  text-decoration: none;
}

.skater-main-info {
  position: relative;
}

.follow-card {
  border-bottom: 1px solid rgb(185, 185, 185);
  padding-bottom: 5px;

  p {
    font-size: 14px;
  }
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 14.8px;
  border-bottom: 2px solid transparent;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(230, 230, 230);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(218, 218, 218);
  border-bottom: 2px solid rgb(0, 24, 29);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: -1px 6px;
  border-top: none;
}

.tab-icon {
  color: rgb(0, 24, 29);
}

.follow-user {
  border-bottom: 1px solid #efefef;
  padding-bottom: 9px;
  padding-top: 9px;
  color: #303c43;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  p {
    margin-left: 10px;
    color: #3b454b;
    font-size: 15px;
  }

  img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgb(0, 24, 29);
  }
}

.dropin-time {
  font-size: 12px;
  text-align: left;
}
