.btn-cta {
  font-family: "Staatliches", cursive;
  color: black;
  background-color: rgb(216, 255, 206);
  border: 1px solid #46ff7d;
  padding: 10px 20px;
  font-weight: lighter;
}

.btn-normal {
  font-family: "Staatliches", cursive;
  background-color: white;
  border: 1px solid #8d8d8d;
  padding: 10px 20px;
  opacity: 0.9;
}

.btn-filter {
  font-family: "Staatliches", cursive;
  height: 40px;
  width: 60px;
  margin-left: 35px;
  margin-bottom: 5px;
  border: 1px solid #8d8d8d;
  padding: 5px 10px;
  font-weight: lighter;
  opacity: 0.7;
  margin-right: 6px;
}

.btn-map {
  font-family: "Staatliches", cursive;
  background-color: rgb(67,85,96);
  color: white;
  border: 1px solid #8d8d8d;
  padding: 4px 6px;
  opacity: 0.9;
  margin-bottom: 16px;
}

.btn-menu {
  width: 85px;
  font-size: 20px;
  background-color: rgb(66,84,95);
  color: white;
}