.filter-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: whitesmoke;
  margin: 0;
  .form-group {
    margin: 4px;
    display: inline;
  }
}

.filter-options {
  p {
    text-align: right;
  }
}

.btn {
  margin: 13px;
  background-color: #6c757c;
  color: whitesmoke;
  border: 1px solid #6c757c;
}

.filter-input:checked + label {
  color: rgb(0,24,29);
  font-weight: bold;
}
// GOT RID OF THESE AS THEY MESS UP THE FILTER BUTTONS
// .btn:hover {
//   margin: 13px;
//   background-color: #6c757c;
//   color: whitesmoke;
// }

// .btn:hover {
//   margin: 13px;
//   background-color: transparent;
//   border: 1px solid white;
// }

.filter-container {
  height: 12vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 16px 10px 12px;
  background-color: lightslategrey;
}
