
.filter-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .form-group {
    margin: 4px;
    display: inline;
  }
}

.btn {
  margin: 9px;
}
  
.filter-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px 10px 12px;
}