.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;

  padding: 10px !important;
  h4 {
    font-family: "Staatliches", cursive;
    margin: 6px 0;
  }
}

.mapboxgl-popup-content {
  p {
      font-size: 16px;
      padding: 4px;
      display: inline;
    }
}

.suggestions-wrapper {
  display: none;
}

.popup-icons {
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none !important;
  color: black;
}