.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;

  padding: 10px !important;
  h4 {
    font-family: "Staatliches", cursive;
  }
}

.popup-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

a {
  text-decoration: none !important;
  color: black;
}
  font-family: "Open Sans", sans-serif;
}