.navbar-nav .dropdown-menu {
  position: absolute;
  width: 100%;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightslategrey;
}

.navbar {
  background-color: #435560;
  min-height: 60px;
}

.navbar-brand {
  font-size: 22px;
}

.nav {
  margin-bottom: 0;
}

.nav-link {
  font-size: 16px;
}

.dropdown {
  position: static;
}

.dropup {
  position: static;
}

.dropdown-menu {
  width: 100%;
  text-align: center;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.disabled {
  margin: 0;
}

.dropdown-menu > li {
  display: inline-block;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  background-color: lightslategrey;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .boolean {
    // TARGETS THE REMEMBER ME CLASS CREATED BY SIMPLE FORM
    margin-bottom: 0;
  }
}

.mapboxgl-ctrl-geocoder {
  margin: 10px 0;
}

.btn {
  font-size: 16px;
}

#spotter-logo {
  font-family: "Staatliches", cursive;
  letter-spacing: 2px;
  color: white;
}

.dropdown-item {
  color: white;
}
