.navbar-nav .dropdown-menu {
  position: absolute;
  width: 100%;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4a4e52;
}

.navbar {
  background-color: #696969;
  min-height: 60px;
}

.navbar-brand {
  font-size: 22px;
}

.nav {
  margin-bottom: 0;
}

.nav-link {
  font-size: 16px;
}

.dropdown {
  position: static;
}

.dropup {
  position: static;
}

.dropdown-menu {
  width: 100%;
  text-align: center;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.disabled {
  margin: 0;
}

.dropdown-menu > li {
  display: inline-block;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #4a4e52;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .boolean {
    // TARGETS THE REMEMBER ME CLASS CREATED BY SIMPLE FORM
    margin-bottom: 0;
  }
}

.mapboxgl-ctrl-geocoder {
  margin: 10px 0;
}

.btn {
  font-size: 16px;
}

#spotter-logo {
  font-family: "Staatliches", cursive;
  letter-spacing: 3px;
  color: white;
}

.dropdown-item {
  color: white;
}


.online-badge {
  height: 10px;
  width: 10px;
  background-color: #43c943;
  position: relative;
  border-radius: 50%;
  bottom: 8px;
  right: -28px;
  border: 1px solid white;
}

#notif {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  background-color: red;
  position: absolute;
  bottom: 37px;
  right: 204px;
  color: white;
}

.follower_notif {
  z-index: 1;
  position: absolute;
  top: 73px;
  left: 6px;
  background: white;
  color: black;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 3px;
  border: 1px solid;
  border-radius: 3px;
}
