.tag-photo {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tag-photo-container {
  margin: 24px;
}

.urlbb {
  display: none;
}
