.tag-photo {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: rgb(207, 207, 207);
  margin-bottom: 20px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tag-photo-container {
  margin: 24px;
}

.urlbb {
  display: none;
}

.tag-photo {
  padding: 20px
}